.glyphicon {
  font-size: 1.2em;
}

.action-icons {
  text-align: center;
}

.icon-password-color {
  color: grey;
}
.icon-password-color:hover {
  color: rgb(83,125,141)
}

.icon-edit-color {
  color: grey;
}
.icon-edit-color:hover {
  color: rgb(83,125,141)
}

.icon-trash-color {
  color: grey;
}
.icon-trash-color:hover {
  color: rgb(194, 59, 34);
}
