html,body{
  height: 100%
}

body {
  min-width: 400px;
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}
#content {
  margin-bottom: 16px;
  text-align: center;
}

#buttonManageMyAccounts {

}
