<div class="modal fade" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="editAccountModalTitle">Create/Edit Account</h4>
      </div>
      <div class="modal-body">
        <form name="editAccount" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-10">
              <input type="hidden" class="form-control" id="editAccountModalId" name="editAccountModalId"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="editAccountModalInputName">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="editAccountModalInputName" name="editAccountModalInputName"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="editAccountModalInputUser" >User</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="editAccountModalInputUser" name="editAccountModalInputUser"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="editAccountModalInputUri" >Uri</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="editAccountModalInputUri" name="editAccountModalInputUri" placeholder="https://..."/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="editAccountModalSelectPasswordType" >Password Type</label>
            <div class="col-sm-10">
              <select id="editAccountModalSelectPasswordType" name="editAccountModalSelectPasswordType" class="form-control">
                <option value="0">Maximum Security</option>
                <option value="1">Long</option>
                <option value="2">Medium</option>
                <option value="3">Short</option>
                <option value="4">Basic</option>
                <option value="5">PIN</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="editAccountModalInputCounter" >Update Counter</label>
            <div class="col-sm-10">
              <input type="number" min="1" class="form-control" id="editAccountModalInputCounter" name="editAccountModalInputCounter" placeholder=""/>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="editAccountModalButtonSave" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
