<div class="modal fade" id="connectionErrorModal" tabindex="-1" role="dialog" aria-labelledby="connectionErrorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="connectionErrorModalTitle">Backend Connection Error</h4>
      </div>
      <div class="modal-body">
        <p>Please make sure that it is correctly installed.</p>
      </div>
      <div class="modal-footer">
        <button id="buttonOk" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
